/**
 * @name GitTheme
 * @description A theme based on the Github colour palette. Source code from DiscordRecolor
 * @author Derisorant
 * @version 1.0.0
 * @authorId 
 * @website https://github.com/Derisorant
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 *
 * @var checkbox			settingsicons_s			"User Settings Icons"					1
 * @var text				font_s				"General Font"						"gg sans", "Noto Sans"
 * @var text				accentcolor_s			"Blurple Color: [default] = 88, 101, 242"		88, 101, 242
 * @var text				accentcolor2_s			"Boost Pink Color: [default] = 255, 115, 250"		255, 115, 250
 * @var text				linkcolor_s			"Link Color: [default] = 0, 176, 244"			0, 176, 244
 * @var text				mentioncolor_s			"Mentioned Color: [default] = 250, 166, 26"		250, 166, 26
 * @var text				successcolor_s			"Success Color: [default] = 59, 165, 92"		59, 165, 92
 * @var text				warningcolor_s			"Warning Color: [default] = 250, 166, 26"		250, 166, 26
 * @var text				dangercolor_s			"Danger Color: [default] = 237, 66, 69"			237, 66, 69
 * @var text				textbrightest_s			"Text Color 1: [default] = 255, 255, 255"		255, 255, 255
 * @var text				textbrighter_s			"Text Color 2: [default] = 220, 221, 222"		222, 222, 222
 * @var text				textbright_s			"Text Color 3: [default] = 185, 187, 190"		185, 185, 185
 * @var text				textdark_s			"Text Color 4: [default] = 142, 146, 151"		140, 140, 140
 * @var text				textdarker_s			"Text Color 5: [default] = 114, 118, 125"		115, 115, 115
 * @var text				textdarkest_s			"Text Color 6: [default] = 79, 84, 92"			80, 80, 80
 * @var text				backgroundaccent_s		"Background Accent: [default] = 64, 68, 75"		50, 50, 50
 * @var text				backgroundprimary_s		"Background 1: [default] = 54, 57, 63"			30, 30, 30
 * @var text				backgroundsecondary_s		"Background 2: [default] = 47, 49, 54"			20, 20, 20
 * @var text				backgroundsecondaryalt_s	"Background 3: [default] = 41, 43, 47"			15, 15, 15
 * @var text				backgroundtertiary_s		"Background 4: [default] = 32, 34, 37"			10, 10, 10
 * @var text				backgroundfloating_s		"Background Elevated: [default] = 24, 25, 28"		0, 0, 0
 */

/* To change the colors, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
	--settingsicons:		1;				/*	Use Settings Icons in User Settings: 1 = yes, 0 = no							*/
	--font:				"gg sans", "Noto Sans";		/*	General Font												*/
	
	--accentcolor: 			88,101,242;			/*	Blurple			-	default:	88,101,242		-	hex:	#5865f2		*/
	--accentcolor2: 		255,115,250;			/*	Boostpink		-	default:	255,115,250		-	hex:	#ff73fa		*/
	--linkcolor: 			0,176,244;			/*	Link Color		-	default:	0,176,244		-	hex:	#00b0f4		*/
	--mentioncolor: 		250,166,26;			/*	Highlight Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--successcolor: 		59,165,92;			/*	Success Color		-	default:	59,165,92		-	hex:	#3ba55c		*/
	--warningcolor: 		250,166,26;			/*	Warning Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--dangercolor:  		237,66,69;			/*	Danger Color		-	default:	237,66,69		-	hex:	#ed4245		*/
	
	--textbrightest: 		255,255,255;			/*	Text Color 1		-	default:	255,255,255		-	hex:	#ffffff		*/
	--textbrighter: 		222,222,222;			/*	Text Color 2		-	default:	220,221,222		-	hex:	#dcddde		*/
	--textbright: 			185,185,185;			/*	Text Color 3		-	default:	185,187,190		-	hex:	#b9bbbe		*/
	--textdark: 			140,140,140;			/*	Text Color 4		-	default:	142,146,151		-	hex:	#8e9297		*/
	--textdarker: 			115,115,115;			/*	Text Color 5		-	default:	114,118,125		-	hex:	#72767d		*/
	--textdarkest: 			80,80,80;			/*	Text Color 6		-	default:	79,84,92		-	hex:	#4f545c		*/
	
	--backgroundaccent: 		22,27,34;			/*	Background Accent	-	default:	64,68,75		-	hex:	#40444b		*/
	--backgroundprimary: 		36,41,46;			/*	Background 1		-	default:	54,57,63		-	hex:	#36393f		*/
	--backgroundsecondary: 		29,33,37;			/*	Background 2		-	default:	47,49,54		-	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	31,35,39;			/*	Background 3		-	default:	41,43,47		-	hex:	#292b2f		*/
	--backgroundtertiary: 		18,20,23;			/*	Background 4		-	default:	32,34,37		-	hex:	#202225		*/
	--backgroundfloating: 		13, 17, 23;				/*	Background Elevated	-	default:	24,25,28		-	hex:	#18191c		*/
  --radius: 16px;
}

/* Chat UI */
.tutorialContainer__890ea {
  margin-top: 6px;
}
.resizeHandle_f1a098 {
  width: 0px;
}
.container__5c7e7,
.container-36u7Lw,
.chat__52833,
.pageWrapper_fef757,
.container__42489,
.main__58b77,
.applicationStore_fc7d76,
.containerSidenav__2623a,
.shop-3sIaH8,
.container__0a30f {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.sidebar_ded4b5,
.chat__52833,
.container_def45c {
  border-radius: var(--radius) !important; /* Fix sidebar not rounded on windows platform */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px !important;
  margin-left: 5px;
}
.wrapper_a7e7a8 {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: var(--background-secondary);
}
.container_def45c {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
.channelChatWrapper__3e57d {
  border-radius: var(--radius);
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -5px;
  margin-left: 5px;
}

/* Channel List */
.container__590e2,
.privateChannels__93473 {
  border-radius: var(--radius);
  margin-bottom: 5px;
}


/* User Profile */
.role__631a3,
.button__2c432,
.overlayBackground__86b78,
.messageInputContainer__768e6,
.listRow__60937,
.accountProfileCard__22589,
.background_b61fcc,
.userPopoutInner_f545a3:before,
.userProfileOuter__46bb7,
.userProfileModalInner__7c87d:before,
.connectedAccountContainer__23f00 {
  border-radius: var(--radius);
}
.roundedBanner__9fa0a {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.content__764ce.body__59737.thin_b1c063.scrollerBase_dc3aa9 {
  border-radius: 0px;
}

/* Server list */
.wrapper_a7e7a8 {
  border-radius: var(--radius);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: var(--background-secondary);
}

/* Profile */
.profileBadges__7a7cb,
.badgeList_ef4131,
.badgeList-2aoHPw {
  background-color: transparent;
}
.role__631a3,
.button__2c432,
.overlayBackground__86b78,
.messageInputContainer__768e6,
.listRow__60937,
.accountProfileCard__22589,
.background_b61fcc,
.userPopoutInner_f545a3:before,
.userProfileOuter__46bb7,
.userProfileModalInner__7c87d:before,
.connectedAccountContainer__23f00 {
  border-radius: var(--radius);
}
.roundedBanner__9fa0a {
  border-radius: var(--radius) var(--radius) 0px 0px;
}
.content__764ce.body__59737.thin_b1c063.scrollerBase_dc3aa9 {
  border-radius: 0px;
}

/* Activities */
.poster-iN2kh_,
.activityItem-1Z9CTr,
.activityTag-3C3YK5 {
  border-radius: var(--radius);
}

/* Replacing Discord Title Text */
html:only-child > head + body > div#app-mount.appMount_c99875 > div.typeWindows_e41dab.titleBar__710b0 > div.wordmark__5b8c9::before {
  -webkit-mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 55 19" style="enable-background:new 0 0 55 19;" xml:space="preserve"> <path d="M49.05838,9.48529C33.07242,14.32281,16.23898,4.00091.52097,10.99554c-1.17365.52228-.15741,2.24622,1.00946,1.72693,7.55719-3.36298,16.06696-2.37323,24.00275-1.2583,7.97668,1.12067,16.18225,2.33264,24.05688-.05029,1.22864-.37183.70502-2.3028-.53168-1.92859ZM7.49455,3.06885h-1.81787v-.09619c0-.27832-.09277-.50293-.27783-.67383-.18555-.1709-.4209-.25684-.70605-.25684h-.1709c-.28516,0-.52051.09277-.70557.27832-.18555.18555-.27832.42041-.27832.70557v2.18164c0,.28516.09277.52002.27832.70557.18506.18555.42041.27783.70557.27783h.1709c.29248,0,.52979-.07617.71143-.22998.18164-.15283.27246-.36865.27246-.64648v-.05371h-1.01562v-1.55029h2.8335v1.72119c0,.47803-.11768.90918-.35303,1.29395-.23486.38477-.55225.68652-.95166.90332-.39893.21777-.8374.32617-1.31494.32617h-.53467c-.47754,0-.91602-.11914-1.31543-.35742-.39941-.23926-.71631-.56348-.95166-.97363-.23535-.40967-.35303-.86084-.35303-1.35254v-2.37402c0-.46338.11768-.896.35303-1.29883s.5542-.72363.95703-.9624.83936-.3584,1.31006-.3584h.53467c.47021,0,.90674.11572,1.30957.34766.40283.23145.72217.54541.95703.94092.23535.39551.35303.82178.35303,1.27783v.22461ZM8.84172,1.60352c-.18555-.18506-.27832-.40625-.27832-.6626,0-.25684.09277-.47754.27832-.66309.18506-.18555.40625-.27783.66309-.27783.25635,0,.47754.09229.6626.27783.18555.18555.27832.40625.27832.66309,0,.25635-.09277.47754-.27832.6626-.18506.18555-.40625.27832-.6626.27832-.25684,0-.47803-.09277-.66309-.27832ZM10.41349,7.81641h-1.81787V2.20264h1.81787v5.61377ZM14.41252,7.81641c-.71289,0-1.2832-.16016-1.71094-.48145-.42773-.32031-.6416-.90869-.6416-1.76416v-1.97803h-.65234v-1.44385h.65234V.28857h1.81787v1.86035h.81299v1.44385h-.81299v1.97803c0,.21387.04443.36914.13379.46533.08887.09619.2334.14404.43311.14404h.45996v1.63623h-.49219ZM19.3422,7.81641h-1.81787V2.20264h-1.81787V.43799h5.45361v1.76465h-1.81787v5.61377ZM22.12248,7.81641V.33105h1.81787v2.29932c.16406-.15674.35352-.27832.56641-.36377.21484-.08545.43164-.12842.65234-.12842h.01172c.72656,0,1.27393.21924,1.64111.65771s.55078,1.02832.55078,1.77002v3.25049h-1.81885v-3.31494c0-.21387-.07227-.38477-.21875-.51318s-.31836-.19238-.51953-.19238h-.02148c-.21289,0-.40723.07471-.58203.22461-.1748.14941-.26172.3457-.26172.58789v3.20801h-1.81787ZM30.03459,5.59229c.01562.19238.09375.35986.23633.50244s.32422.21387.54492.21387h.05469c.38477,0,.6875-.14941.9082-.44922l1.41211.76953c-.22266.37109-.50195.67969-.83984.92578-.33984.24609-.82617.36816-1.46094.36816h-.16016c-.48438,0-.91797-.10449-1.29883-.31543-.38086-.20996-.67969-.49316-.89258-.84961-.21484-.35645-.32031-.74463-.32031-1.16553v-1.12305c0-.42041.10547-.80859.32031-1.16553.21289-.35596.51172-.64111.89258-.85498s.81445-.3208,1.29883-.3208h.16016c.46484,0,.88867.10693,1.27344.3208s.6875.49902.9082.85498c.2207.35693.33203.74512.33203,1.16553v1.12305h-3.36914ZM30.03459,4.39453h1.55078v-.03174c0-.19971-.06445-.36377-.19141-.49219-.12891-.12842-.31055-.19238-.54492-.19238h-.07617c-.21289,0-.39062.06396-.5293.19238s-.20898.29248-.20898.49219v.03174ZM40.81388,2.12793c.73438,0,1.28711.21875,1.65625.65723.37109.43848.55664,1.03223.55664,1.78076v3.25049h-1.81836v-3.31494c0-.21387-.07227-.38477-.21875-.51318s-.31836-.19238-.51758-.19238h-.02148c-.20703,0-.39062.07471-.55078.22461-.16016.14941-.24023.3457-.24023.58789v3.20801h-1.81836v-3.31494c0-.21387-.07422-.38477-.21875-.51318-.14648-.12842-.32031-.19238-.51953-.19238h-.02148c-.20703,0-.39062.07471-.55078.22461-.16016.14941-.24023.3457-.24023.58789v3.20801h-1.81836V2.20264h1.49805l.32031.4917c.33398-.37744.75586-.56641,1.26172-.56641h.03125c.7207,0,1.25977.24561,1.61523.73779.19922-.23535.4375-.41699.71094-.54541.27539-.12842.56836-.19238.88281-.19238h.02148ZM45.7006,5.59229c.01367.19238.0918.35986.23438.50244s.32422.21387.54688.21387h.05273c.38477,0,.6875-.14941.9082-.44922l1.41211.76953c-.2207.37109-.5.67969-.83984.92578-.33789.24609-.82422.36816-1.45898.36816h-.16016c-.48438,0-.91797-.10449-1.29883-.31543-.38281-.20996-.67969-.49316-.89453-.84961-.21289-.35645-.32031-.74463-.32031-1.16553v-1.12305c0-.42041.10742-.80859.32031-1.16553.21484-.35596.51172-.64111.89453-.85498.38086-.21387.81445-.3208,1.29883-.3208h.16016c.46289,0,.88672.10693,1.27148.3208.38672.21387.68945.49902.91016.85498.2207.35693.33203.74512.33203,1.16553v1.12305h-3.36914ZM45.7006,4.39453h1.55078v-.03174c0-.19971-.06445-.36377-.19336-.49219-.12695-.12842-.30859-.19238-.54492-.19238h-.07422c-.21484,0-.39062.06396-.5293.19238s-.20898.29248-.20898.49219v.03174Z"/> </svg>') !important;
  background: #5865f2 !important;
  position: absolute !important;
  scale: 1 !important;
  opacity: 1 !important;
}

#app-mount > div.typeWindows_e41dab.withFrame__5e49e.titleBar__710b0 > div.wordmarkWindows_ffbc5e.wordmark__5b8c9::after {
  display: none !important;
}

#app-mount > div.typeWindows_e41dab.withFrame__5e49e.titleBar__710b0 > div.wordmarkWindows_ffbc5e.wordmark__5b8c9 > svg {
  display: none !important;
}

/* Custom Discord Logo - Must use logo other than the default under "Settings -> Appearance" */

.childWrapperNoHoverBg_bc176a > img {
  content: url("https://i.imgur.com/UKT56dt.png");
}